{% extends "base.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="text-center">

<p style="font-weight: bold;">Le site Internet The District est la propriété exclusive de gotié.</p>

<p style="font-weight: bold;">Identifiant siret : 00000000000</p>
<p style="font-weight: bold;">Propriétaire : gotié</p>
<p style="font-weight: bold;">E-mail : gotié@the_district.fr</p>
<p style="font-weight: bold;">Téléphone : 0606060606</p>

<p style="font-weight: bold;">Conception du site internet : gotié – www.chauve.com</p>

<p style="font-weight: bold;">Le site est hébergé par la société afpa, 33 rue de poulainville, 80000 Amiens, Capital de 1 euro, Siret : 00000000000.</p>

</div>
{% endblock %}