{% extends "base.html.twig" %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<div class="text-center">
    
    <h3 id="titre_h1-2">Politique de confidentialité</h3><br>

    <p style="font-weight: bold;">Chez The District, nous comprenons l'importance de protéger vos données personnelles et nous nous engageons à respecter votre vie privée.<br> Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos données personnelles lorsque vous utilisez notre site web.</p><br><br>

    <h3 id="titre_h1-2">Collecte de données personnelles</h3><br>
    <p style="font-weight: bold;">Nous collectons les données personnelles suivantes lorsque vous vous inscrivez sur notre site web :</p><br>

    <p style="font-weight: bold;">
    Adresse e-mail<br>
    Nom et prénom<br> 
    Adresse<br>  
    Numéro de téléphone</p><br>

    <p style="font-weight: bold;">Nous collectons ces informations afin de traiter vos commandes et de vous contacter si nécessaire.</p><br>

    <h3 id="titre_h1-2">Utilisation des données personnelles</h3><br>
    <p style="font-weight: bold;">Nous utilisons vos données personnelles pour :</p><br>

    <p style="font-weight: bold;">
    Traiter et livrer vos commandes.<br>
    Vous contacter en cas de problème avec vos commandes.<br></p>

    <p style="font-weight: bold;">Nous ne partageons pas vos données personnelles avec des tiers sans votre consentement explicite.</p><br>

    <h3 id="titre_h1-2">Protection des données personnelles</h3><br>
    <p style="font-weight: bold;">Nous prenons des mesures de sécurité appropriées pour protéger vos données personnelles contre tout accès, modification, divulgation ou destruction non autorisée.</p><br>

    <p style="font-weight: bold;">Droit d'accès et de suppression des données personnelles :<br><br>
    Vous avez le droit de demander l'accès à vos données personnelles que nous avons collectées, ainsi que de demander leur suppression. <br> Pour exercer ces droits, veuillez envoyer un e-mail à l'adresse suivante : admin@the_district.fr ou vous pouvez vous rendre sur votre profil pour en faire la demande.</p><br>

    <p style="font-weight: bold;">Modifications de la politique de confidentialité :<br><br>
    Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toutes les modifications seront publiées sur notre site web.</p><br>
</div>
{% endblock %}